:root.theme-light {
  --bg-color: #fff1f7;
  --bg-image: url("../images/cover-image-light.png");
  --accent-color: #ff8dcb;
  --title-color: #ffc2e6;
  --title-shadow-color: #ff8dcb;
  --decor-color: #353430;
  --title-decor-color: #353430;
  --text-color: #353430;
  --section-title-color: #353430;
  --button-hover-color: rgba(50, 49, 45, 0.4);
  --rec-display: none;
  color-scheme: light;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff1f7;
    --bg-image: url("../images/cover-image-light.png");
    --accent-color: #ff8dcb;
    --title-color: #ffc2e6;
    --title-shadow-color: #ff8dcb;
    --decor-color: #353430;
    --title-decor-color: #353430;
    --text-color: #353430;
    --section-title-color: #353430;
    --button-hover-color: rgba(50, 49, 45, 0.4);
    --rec-display: none;
    color-scheme: light;
  }
}
