:root {
  --font-family: 'IBM Plex mono', monospace;
  --font-size: 18px;
  --line-height: 1.3;
  --page-padding: 10px;
  --main-block-padding: 40px;
  --main-section-gap: 50px;
  --section-gap: 20px;
  --gallery-gap: 10px;
  --bg-color: #000028;
  --bg-image: url("../images/cover-image-dark.png");
  --accent-color: #ff0070;
  --title-color: #db00ff;
  --title-shadow-color: #ff0070;
  --decor-color: #ff0070;
  --title-decor-color: #000028;
  --text-color: #f1b2ce;
  --section-title-color: #ff0070;
  --button-hover-color: rgba(255, 0, 112, 0.4);
  --rec-display: block;
}

@media (width >= 768px) {
  :root {
    --page-padding: 20px;
    --main-block-padding: 60px;
    --main-section-gap: 80px;
    --gallery-gap: 20px;
  }
}
